.marital-status {
  background-color: #f7f7f7;
  padding: 10px;
}

.radio-options {
  display: flex;
  align-items: center;
}

.radio-options input[type="radio"],
.radio-options label {
  margin-right: 10px;
}

.minor-status {
  background-color: #f7f7f7;
  padding: 10px;
}

.flex-container-spouse {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-container-spouse label {
  flex: 1 0 150px; /* Adjust the width as needed */
}

.flex-container-spouse input {
  flex: 1 0 auto;
  width: 200px; /* Adjust the width as needed */
}
